/*para todas la paginas*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*hoja inicio*/
.ColorCabeza{
    background-color: black;
    height: 20px;
    width: fit-content;
} 
.nombreHotel{
      color: black;
      font-family: $FonText;
      font-style:oblique;
  }
.RedesSociales {
    color: black;
}
header{
      display: flex;
      background-color: black;
      height: 80px;
      >img{
          height: 100px;
      >h1{
          justify-content: center;
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          position: relative;
      }
      }
  }
.InicioCabecera{
 background-image:url(../img/imagen\ inicio\ cabecera.jpg);
 @extend %TarjetaCabecera;
    h5{
        color: white;
    }
}

.bienvenidoshijo1{
    margin-top: 50px;
        h6{
            font-family: 'Roboto Condensed', sans-serif;
            justify-content: center;
            font-size: 35px;
            font-weight:bold;
            color: $ColorTitulos;
    }
}
.tituloInicial{
        font-family: Georgia, 'Times New Roman', Times, serif;  
    }
.textoInicial{
    color: $ColortextCuerpo;
    justify-content:center;
    font-family: $FonText;
}
.bienvenidoshijo2 {
    >img{
        border-color: black;
        border-width: 30px;
        border-style:solid;
    &hover{
        transform: rotateX(400deg);
    }
}
}
.presentacionpadre{
    background-color: black;
    width: auto;
}
  
.presentacionhijo1{
    >img{
        @extend %TarjetaPresentacion;
     }
     >h5{
        @extend %TarjetaPresentacionTitulo;
    }
      &:hover{
        transform: translate(20px,20px);
    }
}
.presentacionhijo2{
    >img{
        @extend %TarjetaPresentacion;
     }
     >h5{
        @extend %TarjetaPresentacionTitulo;
    }
      &:hover{
        transform: translate(20px,20px);
    }
}
.presentacionhijo3{
    >img{
        @extend %TarjetaPresentacion;
     }
     >h5{
        @extend %TarjetaPresentacionTitulo;
    }
      &:hover{
        transform: translate(20px,20px);
    }
}
/*foto del Faro*/
.apartadoIndex{
    background-image: url(../img/Les_Eclaireurs_Lighthouse.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
    h3{
        color: black;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: xx-large;
        font-weight: bold;
        right: 20px;
    h4{
        color: white;
        }
    }
}
/*sección comentarios de huéspedes*/
.comentarios{
    h4{
        font-family: $FonText;
        text-align: center;
        color: $ColorSubtitulos;
        font-weight: bold;
        font-size: 40px;
    }
}
.comentario1{
    background-color: rgb(247, 247, 247);
    border:dotted 0.5px black;
        h5{
            @extend %SubtituloComentarios;
        }
}
.comentario2{
    background-color: rgb(247, 247, 247);
    border:solid 0.5px black;
        h5{
            @extend %SubtituloComentarios;
        }
}
.comentario3{
    background-color: rgb(247, 247, 247);
    border:solid 0.5px black;
        h5{
            @extend %SubtituloComentarios;
        }
}
.comentario4{
    background-color: rgb(247, 247, 247);
    border:solid 0.5px black;
        h5{
            @extend %SubtituloComentarios;
        }
}
/*Fin de inicio*/
/*Inicio de Habitaciones*/
.HabitacionesCabecera{
    background-image: url(../img/cabecera.jpg);
    @extend %TarjetaCabecera;
        h5{
            font-family: 'Roboto Condensed', sans-serif;
        }
        h2{
            font-family: 'Roboto Condensed', sans-serif;
        }
}
.presentacionHabitaciones{
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 100px;
    h3 {
        color: $ColorTitulos;
        font-size: 40.2px;
    }
    h4{ color: $ColorSubtitulos;    
    }
    p{
        color: #333333;
        font-size: 18px;
        margin-top: 100px;
        align-items: center;
    }
}
 /*tarjetas de las habitaciones*/
.habitacion1{ 
    @extend %TarjetaHabitaciones;
    >img{
        border: 40px;
    }
     button{
            background-color: $ColorPrincipal;
            color: white;
            border: none;
            font-family:Arial, Helvetica, sans-serif;
            height: 75px;
            width: 140px;
            font-size: 18px;
            justify-items: end;
            letter-spacing: .0.8em;

            }
                
        }
.habitacion1 button:hover{
    background-color: black;
}


.habitacion2{
    @extend %TarjetaHabitaciones;
    button{
        background-color: $ColorPrincipal;
        color: white;
        border: none;
        font-family:Arial, Helvetica, sans-serif;
        height: 75px;
        width: 140px;
        font-size: 18px;
        justify-items: end;
        letter-spacing: .0.8em;
    }
}
.habitacion2 button:hover{
    background-color: black;
}

.habitacion3{ 
    @extend %TarjetaHabitaciones;
    }
  
    button{
        background-color: $ColorPrincipal;
        color: white;
        border: none;
        font-family:Arial, Helvetica, sans-serif;
        height: 75px;
        width: 140px;
        font-size: 18px;
        justify-items: end;
        letter-spacing: .0.8em;
        margin: 8px;
    }

.habitacion3 button:hover{
    background-color: black;
}


.habitacion4{ 
    @extend %TarjetaHabitaciones;
    button{
        background-color: $ColorPrincipal;
        color: white;
        border: none;
        font-family:Arial, Helvetica, sans-serif;
        height: 75px;
        width: 140px;
        font-size: 18px;
        justify-items: end;
        letter-spacing: .0.8em;
        margin: 8px;
    }
}
.habitacion4 button:hover{
    background-color: black;
}

.habitacion5{
    @extend  %TarjetaHabitaciones;
    button{
        background-color: $ColorPrincipal;
        color: white;
        border: none;
        font-family:Arial, Helvetica, sans-serif;
        height: 75px;
        width: 140px;
        font-size: 18px;
        justify-items: end;
        letter-spacing: .0.8em;
        margin: 8px;
    }
}
.habitacion5 button:hover{
    background-color: black;
}

              
/*página de Servicios*/
.ServiciosCabecera{
    background-image: url(../img/header1.jpg);
    @extend %TarjetaCabecera;
}
   
.serviciosCaja{
    margin:auto;
    padding: 50px;
    h2{
        color: #1e5ea1;
        font-size: 40.2px;
        margin: 20px;
        text-align: center;
    }
    h3{ color: black;
        font-size: 20px;  
        margin: 10px;
        text-align: center;
    }
}
.presentacionservicios{
    width: auto;
    background-color: #1c5fa7;
    color: white;
    font-weight:bold;
    font-size: 18px;
        li{
            font-family:$FonText ;
        }
        }
.serviciosCajaimg {
    h4{
        color: $ColorSubtitulos;
        text-align: center;
        margin: 50px;
        font-size: 40px;

    }
}
.serviciosCajaimg2 {
    img{margin: 10px;}
    justify-content: end;
    
}
/*Fin de Servicios*/
/*Promociones*/
.TitulosPromociones{
    h3{   color: $ColorSubtitulos;
        text-align: center;
        margin: 50px;
        font-size: 4
    }
}
.promocion1{
    img{
        width: 250px;
        height: 200px;
        align-items: center;
        margin: 60px;
    }
    @extend %TarjetaPromociones;
      button{
           color: white;
           background-color: #c19b76;
           width: 90px;
           height: 60px;
           border: none;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                       }
                   }
.promocion1 button:hover{
                    background-color: black;
                }
.promocion2{
    img{
        width: 200px;
        height: 200px;
        align-content: center;
        margin: 30px;
    }
    ul{
        color: #333333;
    }
    @extend %TarjetaPromociones;
    button{
           color: white;
           background-color: #c19b76;
           width: 90px;
           height: 60px;
           border: none;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                       }
                   }
.promocion2 button:hover{
                    background-color: black;
                }
.promocion3{
    img{
        width: 250px;
        height: 200px;
        align-content: center;
        margin: 30px;
    }
    @extend %TarjetaPromociones;
    padding: 20px;
    button{
           color: white;
           background-color: #c19b76;
           width: 90px;
           height: 60px;
           border: none;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                       }
                   }   
.promocion3 button:hover{
                    background-color: black;
                } 
/*Fin de Promociones*/    
/*Inicio página Contacto*/
.presentacionContactoImg{
    background-image: url(../img/servicios.jpg);
    @extend %TarjetaCabecera;
}
.presentacionContacto{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    h2{
        color: $ColorTitulos;
        font-size: 40.2px;
    }
    p{ color: black;
        font-size: 20px;  
    }
}

.TituloContacto{
    width: 600px;
    align-items: center;
    color: $ColorPrincipal;
    font-size: 32px;
}
.FormularioPadre{
    padding: 20px;
    background-color: #f3d1b0;
    width:fit-content;
    justify-items: center;
}
.maps{
    margin-top:  70px;
    width: auto;
    height: 400px;

}
