
%TarjetaCabecera{
        height: 400px;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        h2     {
            align-items:center; 
            font-family:'Roboto Condensed', sans-serif;
            color: white;
            font-size:50px;
            font-weight:800;
        h3    {    
            align-items:center;
            font-family:$FonText;
            color: white;
            font-size:50px;
            font-weight:800;
        h5{
            align-items:center;
            font-family:$FonText;
            color: white;
            font-size:50px;
            font-weight:800;
        }
 
         }
    }
}
%SubtituloPortada{
      font-family:'Times New Roman', Times, serif;
      color: white;
      font-size:50px;
      font-weight:800;
}
%TarjetaPromociones{
            >p{
                font-family: Arial, Helvetica, sans-serif;
                color: grey;
                font-size: 16px;
            h3{
                font-family:'Times New Roman', Times, serif;
                color: black;
                font-size:30px;
                font-weight:400;
            button{
                color: white;
                background-color: #c19b76;
                width: 90px;
                height: 60px;
                border: none;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                
                            }
                        }
                 }
                }
%TituloCabecera{
        align-items:center; /*ver fuente*/
        font-family:'Times New Roman', Times, serif;
        font-size:50px;
        font-weight:800;
        
                  }
%TarjetaPresentacion{
        height: 300px;
        width: 300px;
        border-radius: 800px;
}
%TarjetaPresentacionTitulo{
    font-family: $FonText;
        font-size: 30px;
        color: white;
        text-align: center;
        justify-content: space-around;
        padding-right: 70px;
        margin: 10px;
}
%TarjetaHabitaciones{
    background-color: $ColorTarjetaFondo;
    h3 {
       font-family: "Times New Roman", Times, serif;
       color: $ColorTitulos;
       font-size: 30px;
       font-weight:bold;
       margin: 20px;
        }
     }
 %TarjetaHabitaciones{
    background-color: $ColorTarjetaFondo;
     >h4{
        color: $ColorSubtitulos;
        font-family: 'Times New Roman', Times, serif;
     }
     >h3 {
       font-family: "Times New Roman", Times, serif;
       color: $ColorTitulos;
       font-size: 30px;
       font-weight: 400;
        }
     }
 %TarjetaPromociones{
        background-color: $ColorTarjetaFondo;
         >h4{
            color: $ColorSubtitulos;
            font-family: 'Times New Roman', Times, serif;
         }
         >h5{
           font-family: "Times New Roman", Times, serif;
           color: $ColorTitulos;
           font-size: 20px;
           font-weight: 20px;
            }
         }
%TarjetaServicios{
            background-color: $ColorTarjetaFondo;
             h2{
                color: $ColorSubtitulos;
                font-family: 'Times New Roman', Times, serif;
             }
             h3{
               font-family: $FonText;
               color: $ColorTitulos;
               font-size: 20px;
               font-weight: 20px;
                }
             }
       
%SubtituloComentarios{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            text-align: center;
            padding: 10px;
}