/*Hoja de Footer*/
.footer{
    background-color: black;
    color: white;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.newfooter1{
    a{  color: white;
        text-decoration: none;
        width: 50px;
        height: 30xp;
    }
}
.newfooter2{
    margin-top: 5px;
    align-content: center;
}
.newfooter3{
            background-color: black;
            align-items: center;
            width: fit-content;
    >button{
        background-color: white;
        margin:30px;
        border: none;
        margin-left: 0px;
        color: black;
                     } 
                 }
   
/*Fin de Hoja de Footer*/