/*Hoja de Footer*/
.footer{
    background-color: black;
    color: white;
    height: 350px;
    >.i {
        width: 10px;
        .newfooter h1 p{
            margin: 10px;
            border-radius: 5px;
            flex-direction: column;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
.iconosfooter{
            color: white;
            text-decoration: none;
            }
.newfooter3{
            background-color: black;
            margin-top: 50px;
    >button {
        background-color: white;
        margin:30px;
        border: none;
        margin-left: 0px;
        color: black;
                     } 
                 }
            }
   
/*Fin de Hoja de Footer*/