/*Hoja de Footer*/
.footer{
    background-color: rgb(180, 174, 91);
    color: white;
    height: 350px;
    >.i {
        width: 10px;
        .newfooter h1 p{
            margin: 10px;
            border-radius: 5px;
            flex-direction: column;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        >.newfooter3{
            background-color: rgb(180, 174, 91);
            >.button {
                background-color: white;
                margin-top: 5px;
                border: none;
                     } 
                 }
            }
        }
    }
/*Fin de Hoja de Footer*/