%button {
        color: white;
        background-color: #c19b76;
        width: 90px;
        height: 60px;
        border: none;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            >.textParrafoHabitaciones {
                font-family: Arial, Helvetica, sans-serif;
                color: grey;
                font-size: 16px;
                }
            >.imgHab:hover {
                    transform: translate(20px, 20px);
            }
                    }
                
           
 
