/*hojavariables*/
$ColorPrincipal:  #c19b76;
$ColortextCuerpo: #727272;
$ColortextSubtitulo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$TextAlignCenter: center;
$ColorSubtitulos: #40bcd8;
$ColorTitulos:#123c69;
$ColorTarjetaFondo:#f8f5f5
$FontCentral 'Times New Roman', Times, serif;
/*fin de hoja de variables*/