/*para todas la paginas*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nombredelhotel {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 1%;
}
.navbar-expand-lg bg-light {
    width: 100%;
    height: 50px;
    background-color: rgb(252, 204, 117);
    position: sticky;
    top: 0;
    display: inline-block
}
.subtitulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 2cm;
}


/*inicio*/

h1 {font-style: italic;
    font-weight: 200;
    margin: 10px;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;      
    text-align: center;

}
.carousel img {
    height: 500px;
    width: 100%;
    
}

.parrafo {width: 400px;
   margin: 50px;
}
.presentacion{
    margin: 15px;
    vertical-align: baseline;
}
.presentacion h2{
    margin-top: 60px;
}
.reservaciones {
    width:100%;
    background-color: rgb(252, 203, 113);
}

   
.reservaciones h3 {
    margin: 30px;
    justify-items: center;
}
.reservaciones button{
    margin:  30px;
    height: 10 px;
    background-color:rgb(238, 160, 15);
    border-color: white;
}
.tarjetas{
    margin: 10px;
    padding: 10px;
}

.tarjetas img {
    width: 50px;
    height: 50px;
    align-items: center;
}
/*termina el inicio*/

/*habitaciones*/
.habitaciones {
    width: 250px;
}
.habitaciones2 {
    width: 250px;
}

.habitaciondoble { 
    transition: transform 1s;
    width: 200%;
    margin: 5%;
}
.habitaciontriple {
    width: 200%;
    margin: 5%;
}

.habitacionletra {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
   font-size: larger;
}


/*servicios*/
.imagendesayuno {
   width: 100%;
   height: 500px;
}
.desayunodescripcion {
    margin: 50px;
}

/*ushuaia*/
.header2 {
    width: 99%;
    height: 500px;
    padding: 5px;
    background-image: url(../img/header2.jpg);
    background-size: cover;
    margin: 1%;
}

.interes {
    text-align: center;
    font-size: larger;
    margin: 100px;
    background-color: cadetblue;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    justify-content: space-evenly;
}
    
.add {
    position: relative;
}

.add h4 {
    position: absolute;
    bottom: 0;
    padding: 10 px;
    text-align: center;
    color: white;
}


/* contacto */ 
.formulario {
    width: 600px;
    margin: 20px auto;
    
}


  /*footer*/
footer{
    background-color: rgb(180, 174, 91);
    padding: 10px;
    color: white;
    height: 250px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newfooter{
    margin: 10px;
    border-radius: 5px;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
}

.newfooter button {
 background-color: white;
 margin-top: 5px;
 border: none;
 

}



@media(max-width:1223px){
    footer > .sucursales {
        width: 100%; 
    }
}

/*fin del fotter*/