@charset "UTF-8";
/* Hoja de Style*/ /*hojavariables*/
/*fin de hoja de variables*/
.presentacionContactoImg, .ServiciosCabecera, .HabitacionesCabecera, .InicioCabecera {
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentacionContactoImg h2, .ServiciosCabecera h2, .HabitacionesCabecera h2, .InicioCabecera h2 {
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 800;
}
.presentacionContactoImg h2 h3, .ServiciosCabecera h2 h3, .HabitacionesCabecera h2 h3, .InicioCabecera h2 h3 {
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 800;
}
.presentacionContactoImg h2 h3 h5, .ServiciosCabecera h2 h3 h5, .HabitacionesCabecera h2 h3 h5, .InicioCabecera h2 h3 h5 {
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 800;
}

.promocion3 > p, .promocion2 > p, .promocion1 > p {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 16px;
}
.promocion3 > p h3, .promocion2 > p h3, .promocion1 > p h3 {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 30px;
  font-weight: 400;
}
.promocion3 > p h3 button, .promocion2 > p h3 button, .promocion1 > p h3 button {
  color: white;
  background-color: #c19b76;
  width: 90px;
  height: 60px;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.presentacionhijo3 > img, .presentacionhijo2 > img, .presentacionhijo1 > img {
  height: 300px;
  width: 300px;
  border-radius: 800px;
}

.presentacionhijo3 > h5, .presentacionhijo2 > h5, .presentacionhijo1 > h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  justify-content: space-around;
  padding-right: 70px;
  margin: 10px;
}

.habitacion5, .habitacion4, .habitacion3, .habitacion2, .habitacion1 {
  background-color: #f8f5f5;
}
.habitacion5 h3, .habitacion4 h3, .habitacion3 h3, .habitacion2 h3, .habitacion1 h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #123c69;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

.habitacion5, .habitacion4, .habitacion3, .habitacion2, .habitacion1 {
  background-color: #f8f5f5;
}
.habitacion5 > h4, .habitacion4 > h4, .habitacion3 > h4, .habitacion2 > h4, .habitacion1 > h4 {
  color: #3bafc9;
  font-family: "Times New Roman", Times, serif;
}
.habitacion5 > h3, .habitacion4 > h3, .habitacion3 > h3, .habitacion2 > h3, .habitacion1 > h3 {
  font-family: "Times New Roman", Times, serif;
  color: #123c69;
  font-size: 30px;
  font-weight: 400;
}

.promocion3, .promocion2, .promocion1 {
  background-color: #f8f5f5;
}
.promocion3 > h4, .promocion2 > h4, .promocion1 > h4 {
  color: #3bafc9;
  font-family: "Times New Roman", Times, serif;
}
.promocion3 > h5, .promocion2 > h5, .promocion1 > h5 {
  font-family: "Times New Roman", Times, serif;
  color: #123c69;
  font-size: 20px;
  font-weight: 20px;
}

.comentario4 h5, .comentario3 h5, .comentario2 h5, .comentario1 h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/*Hoja de Navegador*/
.div container-fluid {
  color: blue;
  font-family: "Roboto Condensed", sans-serif;
  color: #c19b76;
}

/*Fin Hoja de Navegador*/
/*Hoja de Footer*/
.footer {
  background-color: black;
  color: white;
  height: 350px;
}
.footer > .i {
  width: 10px;
}
.footer > .i .newfooter h1 p {
  margin: 10px;
  border-radius: 5px;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.footer .iconosfooter {
  color: white;
  text-decoration: none;
}
.footer .newfooter3 {
  background-color: black;
  margin-top: 50px;
}
.footer .newfooter3 > button {
  background-color: white;
  margin: 30px;
  border: none;
  margin-left: 0px;
  color: black;
}

/*Fin de Hoja de Footer*/
/*para todas la paginas*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*hoja inicio*/
.ColorCabeza {
  background-color: black;
  height: 20px;
  width: fit-content;
}

.nombreHotel {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-style: oblique;
}

.RedesSociales {
  color: black;
}

header {
  display: flex;
  background-color: black;
  height: 80px;
}
header > img {
  height: 100px;
}
header > img > h1 {
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.InicioCabecera {
  background-image: url(../img/imagen\ inicio\ cabecera.jpg);
}
.InicioCabecera h5 {
  color: white;
}

.bienvenidoshijo1 {
  margin-top: 50px;
}
.bienvenidoshijo1 h6 {
  font-family: "Roboto Condensed", sans-serif;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  color: #123c69;
}

.tituloInicial {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.textoInicial {
  color: #727272;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.bienvenidoshijo2 > img {
  border-color: black;
  border-width: 30px;
  border-style: solid;
}
.bienvenidoshijo2 > imghover {
  transform: rotateX(400deg);
}

.presentacionpadre {
  background-color: black;
  width: auto;
}

.presentacionhijo1:hover {
  transform: translate(20px, 20px);
}

.presentacionhijo2:hover {
  transform: translate(20px, 20px);
}

.presentacionhijo3:hover {
  transform: translate(20px, 20px);
}

/*foto del Faro*/
.apartadoIndex {
  background-image: url(../img/Les_Eclaireurs_Lighthouse.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.apartadoIndex h3 {
  color: black;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  right: 20px;
}
.apartadoIndex h3 h4 {
  color: white;
}

/*sección comentarios de huéspedes*/
.comentarios h4 {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: #3bafc9;
  font-weight: bold;
  font-size: 40px;
}

.comentario1 {
  background-color: rgb(247, 247, 247);
  border: dotted 0.5px black;
}
.comentario2 {
  background-color: rgb(247, 247, 247);
  border: solid 0.5px black;
}
.comentario3 {
  background-color: rgb(247, 247, 247);
  border: solid 0.5px black;
}
.comentario4 {
  background-color: rgb(247, 247, 247);
  border: solid 0.5px black;
}
/*Fin de inicio*/
/*Inicio de Habitaciones*/
.HabitacionesCabecera {
  background-image: url(../img/cabecera.jpg);
}
.HabitacionesCabecera h5 {
  font-family: "Roboto Condensed", sans-serif;
}
.HabitacionesCabecera h2 {
  font-family: "Roboto Condensed", sans-serif;
}

.presentacionHabitaciones {
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 100px;
}
.presentacionHabitaciones h3 {
  color: #123c69;
  font-size: 40.2px;
}
.presentacionHabitaciones h4 {
  color: #3bafc9;
}
.presentacionHabitaciones p {
  color: #333333;
  font-size: 18px;
  margin-top: 100px;
  align-items: center;
}

/*tarjetas de las habitaciones*/
.habitacion1 > img {
  border: 40px;
}
.habitacion1 button {
  background-color: #c19b76;
  color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  height: 75px;
  width: 140px;
  font-size: 18px;
  justify-items: end;
  letter-spacing: 0 0.8em;
}

.habitacion1 button:hover {
  background-color: black;
}

.habitacion2 button {
  background-color: #c19b76;
  color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  height: 75px;
  width: 140px;
  font-size: 18px;
  justify-items: end;
  letter-spacing: 0 0.8em;
}

.habitacion2 button:hover {
  background-color: black;
}

button {
  background-color: #c19b76;
  color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  height: 75px;
  width: 140px;
  font-size: 18px;
  justify-items: end;
  letter-spacing: 0 0.8em;
  margin: 8px;
}

.habitacion3 button:hover {
  background-color: black;
}

.habitacion4 button {
  background-color: #c19b76;
  color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  height: 75px;
  width: 140px;
  font-size: 18px;
  justify-items: end;
  letter-spacing: 0 0.8em;
  margin: 8px;
}

.habitacion4 button:hover {
  background-color: black;
}

.habitacion5 button {
  background-color: #c19b76;
  color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  height: 75px;
  width: 140px;
  font-size: 18px;
  justify-items: end;
  letter-spacing: 0 0.8em;
  margin: 8px;
}

.habitacion5 button:hover {
  background-color: black;
}

/*página de Servicios*/
.ServiciosCabecera {
  background-image: url(../img/header1.jpg);
}

.serviciosCaja {
  margin: auto;
  padding: 50px;
}
.serviciosCaja h2 {
  color: #1e5ea1;
  font-size: 40.2px;
  margin: 20px;
  text-align: center;
}
.serviciosCaja h3 {
  color: black;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.presentacionservicios {
  width: auto;
  background-color: #1c5fa7;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.presentacionservicios li {
  font-family: "Roboto Condensed", sans-serif;
}

.serviciosCajaimg h4 {
  color: #3bafc9;
  text-align: center;
  margin: 50px;
  font-size: 40px;
}

.serviciosCajaimg2 {
  justify-content: end;
}
.serviciosCajaimg2 img {
  margin: 10px;
}

/*Fin de Servicios*/
/*Promociones*/
.TitulosPromociones h3 {
  color: #3bafc9;
  text-align: center;
  margin: 50px;
  font-size: 4;
}

.promocion1 img {
  width: 250px;
  height: 200px;
  align-items: center;
  margin: 60px;
}
.promocion1 button {
  color: white;
  background-color: #c19b76;
  width: 90px;
  height: 60px;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.promocion1 button:hover {
  background-color: black;
}

.promocion2 img {
  width: 200px;
  height: 200px;
  align-content: center;
  margin: 30px;
}
.promocion2 ul {
  color: #333333;
}
.promocion2 button {
  color: white;
  background-color: #c19b76;
  width: 90px;
  height: 60px;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.promocion2 button:hover {
  background-color: black;
}

.promocion3 {
  padding: 20px;
}
.promocion3 img {
  width: 250px;
  height: 200px;
  align-content: center;
  margin: 30px;
}
.promocion3 button {
  color: white;
  background-color: #c19b76;
  width: 90px;
  height: 60px;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.promocion3 button:hover {
  background-color: black;
}

/*Fin de Promociones*/
/*Inicio página Contacto*/
.presentacionContactoImg {
  background-image: url(../img/servicios.jpg);
}

.presentacionContacto {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
}
.presentacionContacto h2 {
  color: #123c69;
  font-size: 40.2px;
}
.presentacionContacto p {
  color: black;
  font-size: 20px;
}

.TituloContacto {
  width: 600px;
  align-items: center;
  color: #c19b76;
  font-size: 32px;
}

.FormularioPadre {
  padding: 20px;
  background-color: #f3d1b0;
  width: fit-content;
  justify-items: center;
}

.maps {
  margin-top: 70px;
  width: auto;
  height: 400px;
}